@import "semantic-ui";

body {
  background-color: #343a40;
  color: rgba(245, 250, 255, 0.87);
}

.center-wrap {
  //min-height: 40vh;
  //display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: auto;
  padding-bottom: 100px;
}

.start-page {
  margin-top: 200px;
}

.center-step {
  text-align: center;
  margin-bottom: 20px;
}

.step-section {
	width: 300px;
  & + .form {
	width: 100%;
  }
}

.form-title {
  margin-top: 10px !important;
  text-align: center;
}

.narrow_column {
  width: 400px;
  //border-right: 1px solid rgba(34, 36, 38, 0.1);
}

.ta-right {
  text-align: right !important;
}

.ta-center {
  text-align: center !important;
}

.button-wrapper {
  text-align: right;

  .submit-button {
	width: 150px;
	margin-top: 15px;
  }
}

.main_body{
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
}

.wide {
  width: 100%;
}

.header-wrap {
  width: 30%;
  &.ui.menu {
    .item {
      color: #bfbfbf;
      justify-content: center;
      background-color: #383C38;
      width: 50%;
      padding: 0 1.14285714em;
      .active {
        font-weight: 600;
      }
    }
  }
}


.header-center-wrap {
  color: #000;
  align-items: center;
  justify-content: center;
    margin: auto;
  padding-bottom: 100px;
}

.tr_label{
  width: 150px;
}

.b0, .b0 tr, .b0 td{
  border: 0!important;
}
